In [2]:
#Esercizio 
#Dal database AdventureWorks estraiamo la tabella dimproduct 

import dotenv
import os
from sqlalchemy import create_engine
import pandas as pd

"QUESTe SONO LE CREDEDENZIALI CONTENUTE NEL FILE .ENV"
dotenv.load_dotenv() 
#dotenv.load_dotenv(override=True) #sovrascrive le variabili di sistema con quelle di ambiente tipo lo username

username=os.getenv("usernames")
password=os.getenv("password")
host=os.getenv("host")
dbname=os.getenv("dbname")


conn_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
print(conn_string)
db_engine = create_engine(conn_string)

query = 'SELECT * FROM dimproduct'
query2 = 'SELECT * FROM dimcustomer'

dimproduct = pd.read_sql(query,db_engine)
dimcustomer = pd.read_sql(query2, db_engine)

db_engine.dispose()

mysql+pymysql://studente_dapt:Ep1c0d3!!D4t4**4n4lys1s@epicode-data-pt-mysql.cvetyjye2qbl.eu-central-1.rds.amazonaws.com/AdventureWorksDW

In [3]:
#Sulla colonna DealerPrice, utilizzando il metodo .round(), arrotondiamo i valori alle due cifre decimali, e poi al valore intero più vicino 

dimproduct["DealerPrice"] = dimproduct["DealerPrice"].round(2)

In [4]:
dimproduct["DealerPrice"] = dimproduct["DealerPrice"].round(0)

In [5]:
#Utilizzando il metodo .clip(),
#facciamo in modo che i valori siano compresi tra un minimo di 0 e un massimo di 1000
dimproduct["DealerPrice"] = dimproduct["DealerPrice"].clip(0,1000)

In [7]:
#Esercizio 
#Creiamo un DataFrame sintetico, che contiene i guadagni mensili di diverse annate, con il seguente codice: 
import numpy as np

years = 5 
a = pd.DataFrame({"Mese": list("GFMAMGLASOND"*years),                
                  "Anno": np.repeat(list(range(years)), 12),             
                "Guadagni": np.random.randint(800, 5000, 12*years)})

In [8]:
#Calcola la somma cumulativa delle vendite per ogni mese utilizzando il metodo .cumsum()
print(a.groupby("Mese")["Guadagni"].cumsum())

0      4534
1       918
2      3002
3      3027
4      7109
5      7957
6      4255
7      4494
8      3200
9      2885
10     4818
11     4030
12    12689
13     5181
14    10958
15     8782
16    12969
17    16432
18     5460
19    10070
20     5735
21     6237
22     9784
23     8811
24    19508
25     8797
26    17534
27    11539
28    20555
29    22927
30     7114
31    14829
32     7998
33     7065
34    14381
35    12661
36    25155
37     9638
38    22282
39    18507
40    23316
41    26745
42    11375
43    20859
44    12520
45     9967
46    17159
47    15719
48    30866
49    13426
50    24183
51    25563
52    29169
53    34639
54    15007
55    29563
56    15684
57    12806
58    18281
59    18468
Name: Guadagni, dtype: int32

In [9]:
#Come sopra, ma diviso per ogni anno
print(a.groupby("Anno")["Guadagni"].cumsum())

0      4534
1      5452
2      8454
3     11481
4     15588
5     19011
6     23266
7     24733
8     27933
9     30818
10    35636
11    39666
12     4732
13     8995
14    12844
15    17132
16    19143
17    22886
18    24091
19    25379
20    27914
21    31266
22    36232
23    41013
24     3076
25     6692
26    11257
27    12726
28    15747
29    19166
30    20820
31    24110
32    26373
33    27201
34    31798
35    35648
36     2228
37     3069
38     4796
39     8474
40     9508
41    11098
42    15359
43    17711
44    22233
45    25135
46    27913
47    30971
48     4121
49     7909
50     8776
51    13480
52    18466
53    22239
54    25871
55    29871
56    33035
57    35874
58    36996
59    39745
Name: Guadagni, dtype: int32

In [12]:
#Da dimcustomer:
 #Trasformiamo i nomi dei clienti in modo che abbiano solo lettere minuscole,
  #  e i cognomi in modo che abbiano solo lettere maiuscole 

dimcustomer["FirstName"] = dimcustomer["FirstName"].str.lower()
dimcustomer["LastName"] = dimcustomer["LastName"].str.upper()

dimcustomer.sample()

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance
5303,16303,127,AW00016303,None,tracy,L,YUAN,0,1985-03-06,S,...,Manual,Obrero,Ouvrier,1,2,Rehstr 1235,None,1 (11) 500 555-0188,2014-01-26,0-1 Miles

In [14]:
#Sulla colonna EmailAddress, utilizzando il metodo .str.split(), 
#estraiamo nome utente e dominio

dimcustomer[["Username","Domain"]] = dimcustomer["EmailAddress"].str.split("@", expand= True)
dimcustomer.sample()

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance,Username,Domain
5822,16822,265,AW00016822,None,marshall,None,LIN,0,1964-05-27,M,...,Cadre,0,3,7070 W. Watson Court,None,1 (11) 500 555-0198,2012-05-10,5-10 Miles,marshall7,adventure-works.com

In [16]:
#Sulla colonna Phone, estraiamo ogni parte del numero 
#(ad es. da "1 (11) 500 555-0162" a ["1", "(11)", "500", "555-0162"])
dimcustomer[["internationaPrfx","AreaPrfx", "LocalPrfx", "PhNumber" ]] = dimcustomer["Phone"].str.split(" ", expand= True)
dimcustomer.sample()

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,AddressLine2,Phone,DateFirstPurchase,CommuteDistance,Username,Domain,internationaPrfx,AreaPrfx,LocalPrfx,PhNumber
5891,16891,343,AW00016891,None,natalie,None,GONZALES,0,1960-05-08,M,...,None,177-555-0155,2013-11-27,5-10 Miles,natalie39,adventure-works.com,177-555-0155,None,None,None

In [ ]:
#Utilizzando il metodo .str.contains(), estraiamo tutti gli indirizzi e-mail che contengono il numero "21"
ten_or_twenty = dimcustomer[dimcustomer['EmailAddress'].str.contains('20|10')]
print(ten_or_twenty.sample)

In [18]:
#Estraiamo tutti gli indirizzi e-mail che contengono il numero "20" oppure il numero "10"

ten_or_twenty = dimcustomer[dimcustomer['EmailAddress'].str.contains('20|10')]
print(ten_or_twenty.sample)

<bound method NDFrame.sample of        CustomerKey  GeographyKey CustomerAlternateKey Title   FirstName  \
1            11001            37           AW00011001  None      eugene
10           11010            22           AW00011010  None   jacquelyn
22           11022           609           AW00011022  None       ethan
30           11030            28           AW00011030  None     bethany
32           11032            35           AW00011032  None      denise
...            ...           ...                  ...   ...         ...
18395        29395           203           AW00029395  None       lydia
18397        29397           193           AW00029397  None      walter
18415        29415           223           AW00029415  None       oscar
18418        29418           163           AW00029418  None     lindsey
18428        29428           156           AW00029428  None  kristopher

      MiddleName LastName  NameStyle   BirthDate MaritalStatus  ...  \
1              L    HUANG          0  1976-05-10             S  ...
10             C   SUAREZ          0  1969-08-05             S  ...
22             G    ZHANG          0  1984-04-10             M  ...
30             G     YUAN          0  1958-02-18             M  ...
32          None    STONE          0  1952-12-08             M  ...
...          ...      ...        ...         ...           ...  ...
18395       None     RANA          0  1939-10-06             S  ...
18397          E    RAMOS          0  1976-05-10             M  ...
18415          L   FLORES          0  1983-03-25             S  ...
18418       None   SHARMA          0  1981-04-19             S  ...
18428          E    PEREZ          0  1979-12-09             M  ...

            AddressLine2                Phone DateFirstPurchase  \
1                   None  1 (11) 500 555-0110        2011-01-15
10                  None  1 (11) 500 555-0169        2011-01-14
22                  None         589-555-0185        2013-01-20
30                  None  1 (11) 500 555-0182        2011-02-05
32                  None  1 (11) 500 555-0169        2011-02-18
...                  ...                  ...               ...
18395               None  1 (11) 500 555-0182        2013-12-05
18397               None  1 (11) 500 555-0143        2012-08-08
18415               None  1 (11) 500 555-0112        2012-08-02
18418  Verkaufsabteilung  1 (11) 500 555-0134        2013-12-22
18428  Einkaufsabteilung  1 (11) 500 555-0183        2013-02-05

       CommuteDistance      Username               Domain internationaPrfx  \
1            0-1 Miles      eugene10  adventure-works.com                1
10          5-10 Miles   jacquelyn20  adventure-works.com                1
22          5-10 Miles       ethan20  adventure-works.com     589-555-0185
30           1-2 Miles     bethany10  adventure-works.com                1
32           1-2 Miles      denise10  adventure-works.com                1
...                ...           ...                  ...              ...
18395        1-2 Miles       lydia10  adventure-works.com                1
18397        0-1 Miles      walter10  adventure-works.com                1
18415        2-5 Miles       oscar20  adventure-works.com                1
18418       5-10 Miles     lindsey10  adventure-works.com                1
18428        1-2 Miles  kristopher20  adventure-works.com                1

      AreaPrfx LocalPrfx  PhNumber
1         (11)       500  555-0110
10        (11)       500  555-0169
22        None      None      None
30        (11)       500  555-0182
32        (11)       500  555-0169
...        ...       ...       ...
18395     (11)       500  555-0182
18397     (11)       500  555-0143
18415     (11)       500  555-0112
18418     (11)       500  555-0134
18428     (11)       500  555-0183

[1042 rows x 35 columns]>

In [20]:
#Calcolare la lunghezza di ogni indirizzo e-mail ed estrarre i dieci più lunghi e i dieci più corti
dimcustomer['EmailLength'] = dimcustomer['EmailAddress'].str.len()
longest_ten = dimcustomer.nlargest(10, 'EmailLength')
shortest_ten = dimcustomer.nsmallest(10, 'EmailLength')
print(longest_ten)
print(shortest_ten)

       CustomerKey  GeographyKey CustomerAlternateKey Title    FirstName  \
979          11979            69           AW00011979  None  christopher
1767         12767           648           AW00012767  None  christopher
2655         13655           609           AW00013655  None  christopher
3512         14512           633           AW00014512  None  christopher
4772         15772           361           AW00015772  None  christopher
4973         15973           638           AW00015973  None  christopher
7755         18755            50           AW00018755  None  christopher
8768         19768           310           AW00019768  None  christopher
9242         20242            18           AW00020242  None  christopher
10233        21233           358           AW00021233  None  christopher

      MiddleName  LastName  NameStyle   BirthDate MaritalStatus  ...  \
979         None   JOHNSON          0  1962-11-05             M  ...
1767           A  ROBINSON          0  1960-05-02             M  ...
2655           L    WALKER          0  1951-12-31             M  ...
3512           J     JONES          0  1979-09-03             M  ...
4772        None  ANDERSON          0  1968-03-09             M  ...
4973        None    GARCIA          0  1942-05-23             M  ...
7755        None     LEWIS          0  1982-02-21             S  ...
8768           C   JACKSON          0  1986-04-15             S  ...
9242           M    THOMAS          0  1937-01-03             M  ...
10233          E     SMITH          0  1981-09-12             M  ...

                     Phone DateFirstPurchase CommuteDistance       Username  \
979           130-555-0198        2013-02-14       1-2 Miles  christopher25
1767          910-555-0123        2013-08-23      5-10 Miles  christopher18
2655          102-555-0150        2013-11-06      5-10 Miles  christopher23
3512          852-555-0198        2013-02-06       1-2 Miles  christopher27
4772          993-555-0186        2013-07-19       1-2 Miles  christopher10
4973          171-555-0119        2013-12-03       1-2 Miles  christopher16
7755          410-555-0143        2013-03-26      5-10 Miles  christopher21
8768          178-555-0116        2013-04-21       1-2 Miles  christopher12
9242   1 (11) 500 555-0137        2011-10-09       0-1 Miles  christopher11
10233         140-555-0128        2013-04-04       0-1 Miles  christopher24

                    Domain  internationaPrfx AreaPrfx LocalPrfx  PhNumber  \
979    adventure-works.com      130-555-0198     None      None      None
1767   adventure-works.com      910-555-0123     None      None      None
2655   adventure-works.com      102-555-0150     None      None      None
3512   adventure-works.com      852-555-0198     None      None      None
4772   adventure-works.com      993-555-0186     None      None      None
4973   adventure-works.com      171-555-0119     None      None      None
7755   adventure-works.com      410-555-0143     None      None      None
8768   adventure-works.com      178-555-0116     None      None      None
9242   adventure-works.com                 1     (11)       500  555-0137
10233  adventure-works.com      140-555-0128     None      None      None

      EmailLength
979            33
1767           33
2655           33
3512           33
4772           33
4973           33
7755           33
8768           33
9242           33
10233          33

[10 rows x 36 columns]
       CustomerKey  GeographyKey CustomerAlternateKey Title FirstName  \
3974         14974           249           AW00014974   Mr.        k.
15299        26299           642           AW00026299  None        y.
8            11008            32           AW00011008  None       rob
53           11053           359           AW00011053  None       ana
215          11215            62           AW00011215  None       ana
550          11550           263           AW00011550  None       deb
710          11710           331           AW00011710  None       zoe
986          11986            34           AW00011986  None       max
1658         12658           279           AW00012658  None       joy
1899         12899           325           AW00012899  None       ana

      MiddleName LastName  NameStyle   BirthDate MaritalStatus  ...  \
3974        None  SARAVAN          0  1984-12-29             S  ...
15299         L.     YONG          0  1983-07-24             S  ...
8           None  VERHOFF          0  1975-07-04             S  ...
53             E    PRICE          0  1986-02-17             M  ...
215         None    PERRY          0  1961-06-17             M  ...
550         None   TORRES          0  1979-08-05             S  ...
710            R  RAMIREZ          0  1967-09-17             M  ...
986            M  ALVAREZ          0  1969-01-20             S  ...
1658           J    GOMEZ          0  1960-01-08             M  ...
1899           T     ROSS          0  1976-01-08             M  ...

                     Phone DateFirstPurchase CommuteDistance  Username  \
3974          156-555-0100        2013-03-31       0-1 Miles        k0
15299         856-555-0157        2012-02-15       0-1 Miles        y0
8      1 (11) 500 555-0164        2011-01-25       10+ Miles      rob4
53            859-555-0113        2013-01-17       1-2 Miles      ana0
215           446-555-0134        2013-02-15       10+ Miles      ana7
550    1 (11) 500 555-0125        2012-01-20       0-1 Miles      deb4
710           712-555-0144        2013-11-23       2-5 Miles      zoe6
986    1 (11) 500 555-0124        2011-11-22      5-10 Miles      max5
1658   1 (11) 500 555-0127        2012-09-10       0-1 Miles      joy2
1899          532-555-0185        2013-12-17       2-5 Miles      ana4

                    Domain  internationaPrfx AreaPrfx LocalPrfx  PhNumber  \
3974   adventure-works.com      156-555-0100     None      None      None
15299  adventure-works.com      856-555-0157     None      None      None
8      adventure-works.com                 1     (11)       500  555-0164
53     adventure-works.com      859-555-0113     None      None      None
215    adventure-works.com      446-555-0134     None      None      None
550    adventure-works.com                 1     (11)       500  555-0125
710    adventure-works.com      712-555-0144     None      None      None
986    adventure-works.com                 1     (11)       500  555-0124
1658   adventure-works.com                 1     (11)       500  555-0127
1899   adventure-works.com      532-555-0185     None      None      None

      EmailLength
3974           22
15299          22
8              24
53             24
215            24
550            24
710            24
986            24
1658           24
1899           24

[10 rows x 36 columns]

In [21]:
#Modificare il dominio degli indirizzi e-mail da "adventure-works.com" a "aw-db.com" mediante il metodo .str.replace()

dimcustomer['EmailAddress'] = dimcustomer['EmailAddress'].str.replace('adventure-works.com', 'aw-db.com')
print(dimcustomer.sample())

       CustomerKey  GeographyKey CustomerAlternateKey Title  FirstName  \
10130        21130           241           AW00021130  None  mackenzie

      MiddleName LastName  NameStyle   BirthDate MaritalStatus  ...  \
10130          D     WARD          0  1981-06-14             M  ...

                     Phone DateFirstPurchase CommuteDistance     Username  \
10130  1 (11) 500 555-0119        2012-10-28       1-2 Miles  mackenzie10

                    Domain  internationaPrfx AreaPrfx LocalPrfx  PhNumber  \
10130  adventure-works.com                 1     (11)       500  555-0119

      EmailLength
10130          31

[1 rows x 36 columns]

In [22]:
#Dalla colonna AddressLine1 estraiamo tutti gli indirizzi che contengono la sottostringa "Street"
contains_street = dimcustomer[dimcustomer['AddressLine1'].str.contains('Street')]
print(contains_street)

       CustomerKey  GeographyKey CustomerAlternateKey Title FirstName  \
7            11007            40           AW00011007  None     marco
12           11012           611           AW00011012  None    lauren
32           11032            35           AW00011032  None    denise
63           11063           634           AW00011063  None    angela
125          11125            37           AW00011125  None      dana
...            ...           ...                  ...   ...       ...
18273        29273           298           AW00029273  None   timothy
18292        29292            34           AW00029292  None     diana
18323        29323            60           AW00029323  None    andrea
18333        29333            27           AW00029333  None      abby
18351        29351            49           AW00029351  None     jason

      MiddleName   LastName  NameStyle   BirthDate MaritalStatus  ...  \
7           None      MEHTA          0  1969-11-06             M  ...
12             M     WALKER          0  1979-01-14             M  ...
32          None      STONE          0  1952-12-08             M  ...
63          None     MURPHY          0  1980-10-04             S  ...
125            J    NAVARRO          0  1961-10-06             S  ...
...          ...        ...        ...         ...           ...  ...
18273          O      LOPEZ          0  1971-02-08             M  ...
18292          L  DOMINGUEZ          0  1978-01-03             S  ...
18323       None     COOPER          0  1981-09-12             S  ...
18333       None   MARTINEZ          0  1943-03-10             S  ...
18351          A       HALL          0  1970-12-24             S  ...

                     Phone DateFirstPurchase CommuteDistance   Username  \
7      1 (11) 500 555-0126        2011-01-09       0-1 Miles    marco14
12            717-555-0164        2013-03-16       1-2 Miles   lauren41
32     1 (11) 500 555-0169        2011-02-18       1-2 Miles   denise10
63            451-555-0162        2013-01-12      5-10 Miles   angela41
125    1 (11) 500 555-0172        2013-01-31      5-10 Miles      dana2
...                    ...               ...             ...        ...
18273         137-555-0130        2013-08-26      5-10 Miles  timothy38
18292  1 (11) 500 555-0117        2013-04-07       0-1 Miles    diana12
18323         586-555-0120        2013-08-13      5-10 Miles   andrea17
18333  1 (11) 500 555-0150        2013-03-08       0-1 Miles     abby15
18351         158-555-0156        2013-10-11       0-1 Miles    jason49

                    Domain  internationaPrfx AreaPrfx LocalPrfx  PhNumber  \
7      adventure-works.com                 1     (11)       500  555-0126
12     adventure-works.com      717-555-0164     None      None      None
32     adventure-works.com                 1     (11)       500  555-0169
63     adventure-works.com      451-555-0162     None      None      None
125    adventure-works.com                 1     (11)       500  555-0172
...                    ...               ...      ...       ...       ...
18273  adventure-works.com      137-555-0130     None      None      None
18292  adventure-works.com                 1     (11)       500  555-0117
18323  adventure-works.com      586-555-0120     None      None      None
18333  adventure-works.com                 1     (11)       500  555-0150
18351  adventure-works.com      158-555-0156     None      None      None

      EmailLength
7              27
12             28
32             28
63             28
125            25
...           ...
18273          29
18292          27
18323          28
18333          26
18351          27

[512 rows x 36 columns]

In [24]:
file_path="beginner_datasets/facebook.csv"
fb_df = pd.read_csv(file_path)
fb_df["status_published"] = pd.to_datetime(fb_df["status_published"])
fb_df.info()
fb_df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7050 entries, 0 to 7049
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   status_id         7050 non-null   object
 1   status_type       7050 non-null   object
 2   status_published  7050 non-null   datetime64[ns]
 3   num_reactions     7050 non-null   int64
 4   num_comments      7050 non-null   int64
 5   num_shares        7050 non-null   int64
 6   num_likes         7050 non-null   int64
 7   num_loves         7050 non-null   int64
 8   num_wows          7050 non-null   int64
 9   num_hahas         7050 non-null   int64
 10  num_sads          7050 non-null   int64
 11  num_angrys        7050 non-null   int64
dtypes: datetime64[ns](1), int64(9), object(2)
memory usage: 661.1+ KB

status_id                   object
status_type                 object
status_published    datetime64[ns]
num_reactions                int64
num_comments                 int64
num_shares                   int64
num_likes                    int64
num_loves                    int64
num_wows                     int64
num_hahas                    int64
num_sads                     int64
num_angrys                   int64
dtype: object

In [25]:
# Utilizzando il metodo .df.strftime(), 
#formatta le date delle pubblicazioni in un formato specifico (ad esempio, "%Y-%m-%d %H:%M:%S").
mod = fb_df["status_published"].dt.strftime("%Y/%m/%d %H:%M:%S")
print(mod)

0       2018/04/22 06:00:00
1       2018/04/21 22:45:00
2       2018/04/21 06:17:00
3       2018/04/21 02:29:00
4       2018/04/18 03:22:00
               ...
7045    2016/09/24 02:58:00
7046    2016/09/23 11:19:00
7047    2016/09/21 23:03:00
7048    2016/09/20 00:43:00
7049    2016/09/10 10:30:00
Name: status_published, Length: 7050, dtype: object

In [26]:
#Utilizzando gli attributi .dt.year , .dt.month , .dt.day , .dt.dayofweek , .dt.dayofyear, ottieniamo informazioni 
#specifiche sulle date delle transazioni, come l'anno, il mese, il giorno della settimana, il giorno dell'anno, ecc.
anni = fb_df["status_published"].dt.year
mesi = fb_df["status_published"].dt.month
giorni = fb_df["status_published"].dt.day
giorni_settimana = fb_df["status_published"].dt.dayofweek
giorni_anno = fb_df["status_published"].dt.day_of_year

In [29]:
#Estraiamo solo i post relativi al 2012 
twoth_twelve = fb_df[fb_df["status_published"].dt.year == 2012]
twoth_twelve

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
2046,246675545449582_303160673134402,photo,2012-12-23 03:11:00,0,0,0,0,0,0,0,0,0
2047,246675545449582_302341609882975,photo,2012-12-21 06:02:00,4,1,0,4,0,0,0,0,0
2048,246675545449582_299212316862571,photo,2012-12-13 11:36:00,3,0,0,3,0,0,0,0,0
2049,246675545449582_290159194434550,photo,2012-11-18 09:50:00,5,1,1,5,0,0,0,0,0
2050,246675545449582_290154177768385,photo,2012-11-18 09:16:00,2,0,0,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2630,246675545449582_246688625448274,photo,2012-07-15 03:54:00,19,17,3,19,0,0,0,0,0
2631,246675545449582_246686478781822,photo,2012-07-15 03:42:00,12,3,0,12,0,0,0,0,0
2632,246675545449582_246684432115360,photo,2012-07-15 03:32:00,14,1,0,14,0,0,0,0,0
2633,246675545449582_246678538782616,photo,2012-07-15 02:58:00,14,7,0,14,0,0,0,0,0
2634,246675545449582_246677465449390,photo,2012-07-15 02:51:00,15,3,0,15,0,0,0,0,0

In [31]:
#Estraiamo solo i post relativi a maggio 2018
may_eighteen = fb_df[(fb_df["status_published"].dt.year == 2018) & (fb_df["status_published"].dt.month == 5)]
may_eighteen

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
2690,134115277150304_264554297439734,photo,2018-05-31 12:17:00,11,0,0,10,0,1,0,0,0
2691,134115277150304_264493694112461,photo,2018-05-31 08:37:00,56,4,2,55,1,0,0,0,0
2692,134115277150304_264416247453539,photo,2018-05-31 03:12:00,72,13,1,69,3,0,0,0,0
2693,134115277150304_264168277478336,photo,2018-05-30 08:46:00,10,0,0,10,0,0,0,0,0
2694,134115277150304_264160757479088,photo,2018-05-30 08:24:00,56,3,12,54,2,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
6339,1050855161656896_1615666458509094,link,2018-05-04 01:27:00,12,7,7,12,0,0,0,0,0
6340,1050855161656896_1614717551937318,photo,2018-05-03 01:15:00,63,21,1,62,1,0,0,0,0
6341,1050855161656896_1614187798656960,photo,2018-05-02 12:17:00,218,105,153,212,2,4,0,0,0
6342,1050855161656896_1613063202102753,video,2018-05-01 08:38:00,246,2373,475,108,130,5,2,1,0
6343,1050855161656896_1612778858797854,photo,2018-05-01 01:18:00,34,5,0,33,1,0,0,0,0

In [33]:
#Troviamo il primo e ultimo post pubblicati in ogni anno 
weekends = giorni_settimana[5] + giorni_settimana[6]
resto_settimana = giorni_settimana.sum() - weekends

In [35]:
#Utilizzando il metodo .tz_localize(), aggiungiamo un fuso orario alle date delle transazioni
fb_df["status_published"] = fb_df["status_published"].dt.tz_localize("UTC")
print(fb_df["status_published"])

0      2018-04-22 06:00:00+00:00
1      2018-04-21 22:45:00+00:00
2      2018-04-21 06:17:00+00:00
3      2018-04-21 02:29:00+00:00
4      2018-04-18 03:22:00+00:00
                  ...
7045   2016-09-24 02:58:00+00:00
7046   2016-09-23 11:19:00+00:00
7047   2016-09-21 23:03:00+00:00
7048   2016-09-20 00:43:00+00:00
7049   2016-09-10 10:30:00+00:00
Name: status_published, Length: 7050, dtype: datetime64[ns, UTC]

In [36]:
#Calcoliamo la differenza di tempo tra due transazioni 
from random import randint
print(fb_df.iloc[1]["status_published"] - fb_df.iloc[randint(1,7050)]["status_published"])

171 days 21:14:00

In [37]:
#Quanti tipi di post ci sono? E quanti per ogni tipo?
print(fb_df.describe())

       num_reactions  num_comments   num_shares    num_likes    num_loves  \
count    7050.000000   7050.000000  7050.000000  7050.000000  7050.000000
mean      230.117163    224.356028    40.022553   215.043121    12.728652
std       462.625309    889.636820   131.599965   449.472357    39.972930
min         0.000000      0.000000     0.000000     0.000000     0.000000
25%        17.000000      0.000000     0.000000    17.000000     0.000000
50%        59.500000      4.000000     0.000000    58.000000     0.000000
75%       219.000000     23.000000     4.000000   184.750000     3.000000
max      4710.000000  20990.000000  3424.000000  4710.000000   657.000000

          num_wows    num_hahas     num_sads   num_angrys
count  7050.000000  7050.000000  7050.000000  7050.000000
mean      1.289362     0.696454     0.243688     0.113191
std       8.719650     3.957183     1.597156     0.726812
min       0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.000000     0.000000
max     278.000000   157.000000    51.000000    31.000000

In [39]:
#Dai beginner_dataset carichiamo in un DataFrame il file pokemon.csv: 
pokemon = pd.read_csv("pokemon.csv")

In [41]:
# ramite i metodi .isnull() e .sum() controlliamo se ci sono valori nulli nel dataset e 
#contiamo quanti valori nulli ci sono in ogni colonna 
print(pokemon.isnull().count())

#             800
Name          800
Type 1        800
Type 2        800
Total         800
HP            800
Attack        800
Defense       800
Sp. Atk       800
Sp. Def       800
Speed         800
Generation    800
Legendary     800
dtype: int64

In [42]:
#Ci sono valori nulli? 
pokemon.dropna(inplace=True)

In [43]:
#Eliminiamo le righe che contengono valori nulli
print(pokemon.isnull().count())

#             414
Name          414
Type 1        414
Type 2        414
Total         414
HP            414
Attack        414
Defense       414
Sp. Atk       414
Sp. Def       414
Speed         414
Generation    414
Legendary     414
dtype: int64

In [44]:
#Dai beginner_dataset carichiamo in un DataFrame il file automobile.csv:
#Ci sono valori nulli? Dove? Quanti? 
file_path="beginner_datasets/automobile.csv"
auto = pd.read_csv(file_path)

print(auto.isnull().sum())

symboling             0
normalized-losses    37
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  0
stroke                0
compression-ratio     0
horsepower            0
peak-rpm              0
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [54]:
#Quali righe hanno un valore nullo nella colonna num-of-doors? 
print(auto[auto['num-of-doors'].isnull()].index)

Index([26, 60], dtype='int64')

In [56]:
#Abbiamo il seguente DataFrame che raccoglie le misurazioni di un sensore 
#che misura la temperatura atmosferica giornaliera:
import numpy as np, pandas as pd 
temp = pd.DataFrame({
                        "Giorno": [0, 1, 2, 3, 4, 5, 6 ,7, 8, 9, 10, 11, 12],       
                        "Temperature": [18, 19, 18, np.nan, 21, 20, 20, np.nan, 21, 23, np.nan, 23, 24]
                    })

In [57]:
media = temp["Temperature"].mean()
temp = temp['Temperature'].fillna(media)
print(temp)

0     18.0
1     19.0
2     18.0
3     20.7
4     21.0
5     20.0
6     20.0
7     20.7
8     21.0
9     23.0
10    20.7
11    23.0
12    24.0
Name: Temperature, dtype: float64